# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore public assets that are generated.
/public/packs
/public/packs-test
/public/assets

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/public/uploads

# Ignore yarn dependencies.
/yarn-error.log
.yarn-integrity

# Ignore Docker related files.
.dockerignore
Dockerfile

# Ignore gemset and Ruby version files.
.ruby-version
Gemfile.lock

# Ignore environment variables file.
.env
.env.local

# Ignore development and test database settings.
/config/database.yml

# Ignore Spring application preloader.
/spring/*.pid
/spring/*.sock

# Ignore puma control file.
/tmp/pids/server.pid

# Ignore Node.js dependencies.
/node_modules

# Ignore generated tags file.
/tags

# Ignore coverage output.
/coverage/

# Ignore system specific tmp files.
*.swp
.DS_Store
