<div class="container">
  <h1 class="my-4">New Blog Post</h1>

  <div class="card">
    <div class="card-body">
      <%= render 'form', blog_post: @blog_post %>
    </div>
  </div>

  <%= link_to 'Back', blog_posts_path, class: 'btn btn-secondary mt-3' %>
</div>
